.c_red{
    color:#FF4D4D
}
.c_white{
    color:white;
}
.red{
    background-color: #FF4D4D;
}
.black{
    background-color: black;
}
.little_black{
    background-color:#212121;
}
.orange{
    background-color:rgb(255,107,0);
}
.orange:hover{
    background-color: #C95400;

}
.green{
   background-color:rgb(0,190,92);
}

.green:hover{
    background-color:#006D35;
}

.white{
    background-color: white;
}

.blue{
    background-color: rgb(0,151,255);
}
.blue:hover{
    background-color:#0060a2;
}

