
.btn{
    border-radius:8px;
    padding:25px 35px;
    transition:0.5s;
    font-size:1.1em;
    font-weight:bold;

    
}
.btn:hover{
    cursor:pointer;
}

.btn_vazado{
    border:2px solid;
    border-radius:8px;
    padding:2% 3%;
}
.btn_vazado:hover{
    cursor:pointer;
}
