
.btn{
    border-radius:8px;
    padding:25px 35px;
    transition:0.5s;
    font-size:1.1em;
    font-weight:bold;

    
}
.btn:hover{
    cursor:pointer;
}
.orange{
    background-color:rgb(255,107,0);
}
.orange:hover{
    background-color: #C95400;

}

.green{
   background-color:rgb(0,190,92);
}

.green:hover{
    background-color:#006D35;
}

.white{
    background-color: white;
}

