main{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.div_logo{
    width:50%;
    height:100vh;
    display:flex;
    padding: 0 0 0;
    background-image: url("https://www.painel.bibliotecacatolica.com.br/static/media/client_login_backgroung_6_columns.92aa909a.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
}
.logo_svg{
    fill:#ed5240;
    
    
}
.formulario{
    display:Flex;
    flex-direction:column;
    background-color:white;
    z-index:1;
    margin-left:30px;
}
.formulario form{
    display:flex;
    flex-direction:column;
    line-height:30px;
    margin:50px 0 70px 0;

}
.formulario input{
    margin:5px 0;
    border-radius:8px;
    height:60px;
    width:80%;
    padding-left:5px;
}
.formulario input::placeholder{
    font-weight:bold;
}


.formulario .btn{
    text-align:center;
    padding: 10px 0;
    width:80%;
    margin-top:40px;
}
.c_red{
    font-weight:700;
}