main{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.div_logo{
    width:50%;
    height:100vh;
    display:flex;
    padding:15% 0 0 0;
}
.logo{
    fill:#ed5240;
    
    
}