#principal{
    background-image: url("https://cdn.greatsoftwares.com.br/arquivos/paginas_editor/10580-192bb591f7d989b538f87b8cb98fdcb6.webp");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50%;

    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:90px 4% 4% 4%;
    text-align:center;
}
#livros-div{
    width:100%;
    height:300px;
    padding:50px 0 0 0;
}
#livros-div img{
    width:60%;
}
#conjunto-div{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.conjunto {
    display:flex;
    flex-direction:row;
    align-items: center;
    background-color:#557065;
    border:2px solid #BBC6C1;
    border-radius:8px;
    height:50px;
    width:60%;

    font-size:0.8em;
    font-weight:bold;
    margin: 60px 0;
}
.conjunto div:first-child{
    width:50px;
    height:100%;
    background-color: white;
    padding:6px;
}
.conjunto span{
    margin: 0 5px;
}
.box-icon{
    width:100%;
    height:100%;
}
#conjunto-texto{
    font-size:1em;
    text-align:center;
    width:100%;
}

#principal div h2{
    font-size:3em;
    margin:0 0 50px 0 ;
}
#principal div p{
    font-size:1.5em;
    font-weight:bold;
    margin:0 0 40px 0;
}
#principal div #botao{
    font-size:1.5em;
    width:80%;
    margin-left:10%;
}
/*SECÇÃO 02*/
#nossos_numeros{
    padding:7px 0;
}
#s2_fundo{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:5% 25%;
}
#s2_fundo h2{
    font-size:2em;
    text-align:left;
    font-weight:200px;
}
.red_line_div{
    width:100%;
    text-align:centr;
}
.red_line{
    width:100%;
    height:1px;
    margin:30px 0;

    
}
#numbers{
    display:flex;
    flex-direction:row;
}
#numbers h3{
    font-size:1.5em;
    font-weight: 200px;
    margin:0 0 4px 0;
}
#numbers div{
    margin:0 2%;
}

/*SECÇÃO 03*/
    #about{
        display:flex;
        justify-content:center;
        flex-direction:column;
        padding:5% 25%;
    }
    #about h2{
        text-align:center;
        font-size:1.9em;
    }
/*Responsive*/
@media (min-width:1024px){
    #principal{
        flex-direction:row-reverse;
        padding:2% 2%;
    }
    .low-left{
        width:50%;
    }

    #conjunto-div{
        justify-content: flex-start;
        width:600px;
    }
    .conjunto span{
        font-size:1.5em;
        font-weight:400px;
    }
    .low-left h2, .low-left p:nth-child(3){
        text-align:left;
    }
 
    #livros-div{
        width:100%;
        text-align:center;
        padding:0% 0% 4% 4%;
    }

    #livros-div img{
        width:80%;
        max-width:900px;
        
    }
    #principal div h2{
        font-size:2.5em;
    }
  
}