#principal{
    background-image: url("https://cdn.greatsoftwares.com.br/arquivos/paginas_editor/10580-192bb591f7d989b538f87b8cb98fdcb6.webp");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:50%;
    height:800px;
    color:white;
}
#livros-div{
    width:20px;
    height:20px;
}
#livros{
    background-image:url("https://cdn.greatsoftwares.com.br/arquivos/paginas_editor/10580-499e55a77fe0a3fe90f563d5dfcde3c6.webp");
    background-size: 360px 260px;
    background-repeat:no-repeat;
    background-position:0px;
    z-index:9;
}
.conjunto {
    display:flex;
    flex-direction:row;
    background-color:#557065;
    border:2px solid #BBC6C1;
    border-radius:8px;
    padding:5px;


}