*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
header{
    text-align:center;
}
main section{
    display:flex;
    align-items:center;
    flex-direction: column;
}
.linha{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:80vw;
    flex-wrap:wrap;
    margin: 50px 0;
}

.linha div{
    margin: 20px 0;
}
.div_title{
    text-align:center;
    margin-bottom:50px;
}
.logo{
    width:150px;
}

@media (max-width:1024px){
    .linha{
        justify-content:center;
        flex-direction:column;
    }
}