*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
main section{
    display:flex;
    align-items:center;
    flex-direction: column;
}
.linha{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80%;
}


.div_title{
    text-align:center;
}