
.wpp_position{
    position: fixed;
    overflow:hidden;
    width:14%;
    height:14vw;
    right:9vw;
    bottom:8%;
    border-radius:100%;

}
#icone_whats{
    z-index:1;
}
#div_animada{
    background-color: #0D9F16 ;
    animation: pulse 4s infinite;

}
@keyframes pulse{
    0%{
        transform: scale(0%);
        opacity:1;
    }
    30%{
        opacity:1;
    }
    100%{
        transform: scale(170%);
        opacity:0;
    }
}

@media (min-width:800px){
    .wpp_position{
        width:80px;
        height:80px;
        right:5%;
    }
}