*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    font-family: 'Lato', sans-serif;
    font-size:160%;
}

body{
    min-height:100vh;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
span{
    font-size:300%;
}