
/* Estilo do carrossel */
.carousel {
position: relative;
width: 100%;
}

.carousel-inner {
overflow: hidden;
}

.poemContainer {
display: none;
transition: opacity 0.5s ease-in-out;
}

.poemContainer.active {
display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--light-brown);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-control i {
  pointer-events: none;
}
