/*Gerais*/
:root{
    --purple: #8C52FF;
}
a{
    color:var(--purple);
    text-decoration:none;
}
li{
    list-style-type:none;
}
img{
    object-fit:cover;
}

/*botao roxo com texto branco*/
.bgPurple{
    background-color: var(--purple);
    color:#fff;
}
/*botao roxo com texto branco para icones*/
.btnL{
    padding:0.5em 1em;
    display:flex;
    align-items:center;
}
.btnL:hover, .bgPurple:hover{
    filter:brightness(110%);
    background-color: var(--purple);
    color: #fff;
    
}

#carouselExample img{
    height: 440px;
    object-fit:cover;
}

#img-lancamento{
    height:350px;
}

/*aumento a largura do modal*/
.modal-dialog{
    width:fit-content;
    max-width:1200px;
}

#jogo-video{
    width:80%;
    height:60%;
}
footer li{
    margin:5px;
}


/*local page*/
#map{
    width:80vw;
    height:80vh;
}

/*index page*/
#index-section{
    height:80vh;
}
.header-logo{
    width:80px;
}
.logo{
    width:250px;
}

#rodape{
    margin-top:5em;
}
@media (max-width:675px){
    #index-section{
        height:fit-content;
        padding: 25% 0 0em 0!important;
    }
}
@media (max-width:617px){

    #rodape ul{
        padding-inline-start:0;
    }
}
@media (max-width:350px){
    .logo{
        width:150px;
    }
 


    #rodape li{
        width:100%;
        text-align:center;
        justify-content:center;
        align-items:center;
    }
}