*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
#popUpBackground{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:rgba(0,0,0,0.8);
    width:100vw;
    height:100vh;
    top:0;
    z-index:3;

}

#popUp{
    display:flex;
    flex-direction:column;
    border-radius:10px;
    height:80vh;
    width:90vw;
    background-color: #eee;
    padding:1em 2em;
    color:#222;
    overflow:scroll;
    z-index:999;
    overflow-x:hidden;
}
#popUp .row:not(.allCandidates){
    margin:1em 0;
    padding:1em 0;
    border-bottom:1px solid #222;
}

.candidate-complete-info{
    width:25%;
}
.candidate-complete-info img{
    width: 50%;
}
.candidate-info{
    display:flex;
    flex-direction:column;
    width:100%;
    margin:1em 0;
    text-align:left;

}
.candidate-image img{
    width:90%;
    margin-bottom:5px;
}
.candidate-info small{
    font-weight:bold;
    margin-bottom:5px;
}
.candidate-info span{
    margin-bottom:1em;
}
.allCandidates{
    flex-direction:row;
    justify-content:space-around;
}

.closeButtonDiv{
    width:82vw;
    position:fixed;
    text-align:right;
}
#closePopUpBtn {
    cursor:pointer;
    right:0;
}
.candidate{
    margin:1em 0;
    padding:0 0.5em;
}

.hidden{
    display:none;
    visibility:hidden;
}

a{
    color:inherit;
    text-decoration:none;
}
input{
    border:0;
    background:unset;
}
input:hover{
    cursor:pointer;
}

.row{
    display:flex;
    width:100%;
    flex-wrap:wrap;
}

.c50{
    width:50%;
}

body{
    color:#fff;
    background-color: #eee;
    font-family:'lato', sans-serif;

}
.body{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    padding:1em 2em;
    background-color:rgb(211, 211, 211);
    border:1px solid rgba(0,0,0,0.2);
    border-radius:5px;
    overflow-x:hidden;  
    margin:2em;
}

/*Votation screen Area*/
.screen-area{
    width:60%;
    padding:0.5em 2em 0 0;
}
.screen{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    background-image:linear-gradient(#fff, rgb(184, 215, 184));
    height:450px;
    box-shadow:-1px 0px 5px #222;
    border-radius:5px;
    padding:0.5em;

    text-align:center;
    color:#222;

}

.votation-title{
    margin:1.5em 0 1em;
    text-transform:uppercase;
}

.candidate_photo{
    width:250px;
    height:250px;
    object-fit:cover;
    border-radius:5px;
}
.candidate_info p{
    text-align:left;
    margin: 1em 0;
    font-size:22px;
}
.candidate_info span{
    font-weight:bold;
}


.whiteOrNullVoteArea div{
    margin:1em 0;
}

.whiteOrNullVoteArea div span{
    font-size:24px;
}
.error-area{
    color:#222;
    text-align:center;
    padding:1em 0 0 0;

}
.screen-logo{
    width:25%;
}

/*keyboard and buttons area*/
.keyboard-area{
    width:40%;
    max-width:500px;
} 

.title-area{
    display:flex;
    text-align:center;
    align-items:center;
    background-color:rgb(245, 245, 245);
    color:#222;
    padding:0.5em 1em;
    filter:saturate(0);  
    margin-bottom:0.5em; 
}

.eleitoral-img{
    width:15%;
    margin-right:25%;
}

.title{
    font-size:1em;
    padding:0 2em;
}

.number-area{
    background-color:#444;
    padding:1em 4em;
    text-align:center;
}


input[type=button]:not(.controls input){
    border:0;
    box-shadow: 5px 5px 15px #111 ;
    color:#eee;
    font-size:24px;
    margin: 0.5em 3%;
    padding:1em 1.5em 1em 1em;
}   

.controls{
    margin-top:2em;
    display:flex;
    justify-content:center;

}
.controls input{
    padding:1em 1.5em;
    margin:0 0.5em;
    font-size:16px;
}

.white-btn{
    background-color: #eee;
}
.erase-btn{
    background-color: rgb(246, 1, 1);
}
.confirm-btn{
    background-color:rgb(6, 151, 6);
}
.seeCandidatesArea{
    margin-top:1em;
}
#seeCandidatesBtn{
    color:black;
    font-size:16px;
    box-shadow: 2px 2px 7px #222;
}

/*footer area*/
footer{
    background-color:#222;
    padding:1em;
    text-align:center;
    font-size:24px;
}


/*responsivity*/
@media (max-width:1220px){

    .body{
        align-items:center;
        justify-content:center;
    }
    .screen-area{
        width:100%;
        margin-bottom:1em;
        padding:0.5em 1em;
    }
    .screen{
        padding:1em 0;
    }
    .keyboard-area{
        display:flex;
        flex-direction:column-reverse;
     
        width:100%;
        max-width:800px;
    }
    .title-area{
        margin:0.5em 0;
    }
    .candidate-photo{
        width:150px;
        height:150px;
        object-fit:cover;
    }
    #popUp h2{
        font-size:1.3em;
    }
    #popUp .row:not(.allCandidates){
        flex-direction:column;
        border:0px;
        margin:0;
        padding:0;
    }
    #popUp .col{
        margin-bottom:1em;
        padding:2em 0;
        border-bottom:1px solid #222;
    }
    #popUp .c50{
        width:100%;
    }
    .candidate-complete-info{
        width:100%;
        margin:0 5px;
    }
    .allCandidates .row{
        flex-direction:row!important;
        justify-content:space-around;
    }
    .candidate-info, .candidate-complete-info{
    width:fit-content;
    }
 
    
    .allCandidates h2{
        margin-bottom:1em;
    }
    .allCandidates img{
        width:150px;
        height:150px;        
    }
}
@media(max-width: 700px){
    .screen{
        min-height:200px;
        height:fit-content;
    }
    .screen .row{
        flex-direction:column;
        align-items:Center;
    }


}
@media (max-width:590px){

    .screen-area{
        padding:0.5em 0 0;
    }

    .screen .row{
        flex-direction:row;
    }
    .number-area{
        padding:1em 0.5em;
    }
    .candidate_photo{
        width:80%;
        height:80%;
    }
    input[type=button]:not(.controls input){
        padding:0.5em 1em 0.5em 0.5;
        margin: 0.5em 2%;
        font-size:18px;

    }
    .controls{
        flex-direction:column;
        align-items:center;
    }
    .controls input{
        margin:5px 0;
        width:75%;
    }
    .title-area{
        flex-direction:column;
    }
    .eleitoral-img{
        width:50%;
        margin:0 0 0.5em 0;
    }
    .title{
        font-size:5vw;
    }
    #popUp{
        padding:1em;
    }
    .closeButtonDiv{
        width:74vw;
    }
    #popUp .col{
        margin-bottom:1em;
        padding:1em 0;
        border-bottom:1px solid #222;
    }
    #popUp .col .candidate:nth-child(2n){
        background-color:#ddd;
    }
    .candidate{
        padding:0.5em;
        font-size:22px;
        margin:1em 0;
        width:100%;
    }
    .allCandidates .row{
        flex-direction:column!important;
    }
    @media (max-width:281px){
        .screen .row{
            transform: scale(0.9);
            flex-direction: column;
        }
        #popUp{
            height:97vh;
        }
    }
}