.row{
    display:flex;
}
.ac{
    align-items:center;
}
.col25{
    width:25%;
}

.contentLogo{
    width:50%;
}


  
.card {
    background-color: var(--sidebar-color);
    height:100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    align-items:space-between;
  }
  .card-image img{
    width:100%;
  }
  .card-title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  
  .card-content {
    margin-bottom: 20px;
  }

  .card-content p{
    font-size:12px;
  }
  .card-content small, .card .date{
    font-size:10px;
  }

  .card-action {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .card-action a {
    color: #8e44ad;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size:16px;
  }
  
  .card-action a:hover {
    text-decoration: underline;
  }

  