
#slider{
    display:flex;

    width:100%;
    height:600px;
    
    text-align:center;
    align-items:center;
    overflow:hidden;

    
    
}
#ostensorio{
    width:100vw;
    position:relative;
    top:40%;
    z-index:-1;
    
}

@media (max-width: 900px)
{
    #slder{
        margin-top:20%;
    }
}

@media (max-width: 750px)
{
    #ostensorio{
        top:5%;
    }
}